body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(225, 10, 46); /* Set the background color to beige */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  width: 300px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white; /* Set the background of the form to white */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-form .form-group {
  margin-bottom: 15px;
}

.auth-form label {
  display: block;
  margin-bottom: 5px;
}

.auth-form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #0056b3;
}

.auth-container p {
  text-align: center;
  margin-top: 20px;
}

.auth-link {
  color: #007BFF;
  text-decoration: none;
  cursor: pointer;
}

.auth-link:hover {
  text-decoration: underline;
}
